@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:ital@0;1&family=Mohave:ital@1&family=Space+Mono&family=Work+Sans:wght@400;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kaushan+Script&family=Merriweather:ital@0;1&family=Mohave:wght@400;500;600;700&family=Space+Mono&family=Work+Sans:wght@400;500;800&display=swap");
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fffbee;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  overflow: auto;
}

nav {
  display: flex;
  font-family: "Mohave", sans-serif;
  font-weight: 700;
  text-shadow: 1px 1px 1px gray;
  font-size: 20px;
}

.box_1 {
  flex-grow: 1;
  margin-left: 27px;
  margin-top: 30px;
}

.box_2,
.box_3 {
  margin-top: 30px;
  margin-right: 27px;
}

.box_2 {
  color: rgb(99, 0, 0);
  text-decoration: underline;
}

.designer_statement {
  font-family: "Kaushan Script", cursive;
  font-size: 65px;
  width: fit-content;
  height: fit-content;
  margin-left: 115px;
  margin-top: 200px;
}

#designer_statement_explanation {
  font-family: "Mohave", sans-serif;
  font-size: 17px;
  margin-left: 133px;
  margin-top: 72px;
}

img {
  width: 500px;
  height: 500px;
}
