.logo__wrapper {
  width: min-content;
  height: min-content;
  border: 10px solid #dbd9d9;
  border-radius: 50%;
  position: relative;
  .logo__background {
    width: 397px;
    height: 397px;
    background-color: #374a67;
    border-radius: 50%;
    z-index: 1;
    overflow: auto;
    .logo__stars {
      position: absolute;
      width: 2px;
      height: 2px;
      border-radius: 50%;
      filter: blur(0.3px) drop-shadow(0 0 30px gray);
      background-color: white;
      z-index: 0;
      animation: Starry 3s cubic-bezier(0.68, -0.55, 0.265, 1.55) alternate
        infinite;
    }

    $i: 1;
    @while $i <= 20 {
      $left: 10 + random(80);
      $top: 10 + random(80);
      .logo__stars:nth-child(#{$i}) {
        animation-delay: calc(20 / $i) + s;
        left: unquote($left + "%");
        top: unquote($top + "%");
      }
      $i: $i + 1;
    }

  }
  .logo__main {
    position: absolute;
    z-index: 1000;
    width: 400px;
    height: 400px;
    top: 0;
  }
}

@keyframes Starry {
  0% {
    filter: blur(1px) drop-shadow(0 0 30px gray);
    transform: scale(0.1);
  }

  100% {
    filter: blur(0.5px) drop-shadow(0 0 30px gray);
    transform: scale(1);
  }
}

@media screen and (max-width: 420px) {
  .logo__wrapper {
    border: 5px solid white;
    .logo__background {
      width: 250px;
      height: 250px;
      .logo__stars {
        filter: blur(0.2px) drop-shadow(0 0 10px gray);
      }
    }
    .logo__main {
      position: absolute;
      z-index: 1000;
      width: 250px;
      height: 250px;
      top: 0;
    }

  }
}
@keyframes Starry_mobile {
  0% {
    filter: blur(0.5px) drop-shadow(0 0 10px gray);
    transform: scale(0.1);
  }

  100% {
    filter: blur(0.1px) drop-shadow(0 0 10px gray);
    transform: scale(1);
  }
}
