$fireMain: #ff0000;
$fireSub: #fffe00;
.ship__torch {
  top: 57%;
  z-index: -4;
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: 20px;
  border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  background-color: $fireMain;
  transform: rotate(135deg);
  animation: flicker infinite 1s alternate ease-in-out;
  &:after {
    content: "";
    top: 5px;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
    background-color: $fireSub;
  }
}
