.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  & label,
  & input {
    margin: 10px 0;
    color: black;
    text-align: center;
  }
  & input {
    width: 100%;
    border: none;
    border-radius: 18px;
    padding: 0 20px;
    color: black;
    font-size: 1rem;
  }
  & .button {
    background-color: #51aabf;
    padding: 2px 20px;
    height: 28px;
    border-radius: 12px;
    width: 100%;
    font-size: 18px;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    margin: 10px 0;
    margin-bottom: 0;
  }
}

.button {
  background-color: #51aabf;
  padding: 2px 20px;
  height: 28px;
  border-radius: 12px;
  width: 100%;
  font-size: 18px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  margin: 10px 0;
  margin-bottom: 0;
}
.input {
  background-color: white;
  width: 100%;
  margin: 10px 0;
  color: #757575;
  text-align: center;
  border: none;
  border-radius: 18px;
  padding: 0 20px;
  font-size: 1rem;
}

.navy {
  background-color: #202363;
}

@media screen and (max-width: 940px) {
  .form {
    * {
      font-size: 0.5rem;
      padding: 0;
    }
    & input {
      font-size: 1rem;
      padding: 0;
    }
  }
  .input {
    font-size: 1rem;
  }
}
