@import "../../../assets/styles/mixin";

.form {
  @include standardalign;
  & input {
    @include blackinput;
  }
  & .button {
    @include bluebtn;
  }
}

.button {
  @include bluebtn;
}
.input {
  @include greyinput;
}

.navy {
  background-color: #202363;
}

@media screen and (max-width: 940px) {
  .form {
    * {
      font-size: 0.5rem;
      padding: 0;
    }
    & input {
      font-size: 1rem;
      padding: 0;
    }
  }
  .input {
    font-size: 1rem;
  }
}
