@import "../../assets/styles/mixin";

.kakao {
  @include snsloginbtn(#fee500);
  color: #191919;
  margin-bottom: 10px;
  cursor: pointer;
  & img {
    @include snsimg;
  }
}

.naver {
  @include snsloginbtn(#03c75a);
  color: #ffff;
  cursor: pointer;
  & img {
    @include snsimg;
  }
}
