.home__section {
  width: 100%;
  height: 100vh;
  .section__page2 {
    width: 100%;
    height: 100%;
    position: relative;
  }
  & .disable {
    position: absolute;
    top: 50%;
    width: 90%;
    left: -30%;
    transform: translate(-120%, 0%);
    transition: all 0.8s ease-in;
    z-index: -1;
  }
  & .active {
    transition: all 0.8s ease-in;
    transform: translate(0%, 0%);
  }
  .title {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
    line-height: 3rem;
    z-index: 10;
    width: min-content;

    & pre {
      font-size: 200%;
      color: white;
      margin-bottom: 3%;
    }
    & span {
      color: white;
    }
  }
}

@media screen and (max-width: 1680px) {
  .home__section {
    .section__page2 {
      & .disable {
        transform: translate(0%, 0%);
      }
      & pre {
        font-size: 2em;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .home__section {
    .section__page2 {
      display: flex;
      justify-content: center;
    }
    .title {
      position: relative;
      left: 0;
      top: 0;
      font-size: 100%;
      transform: none;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      line-height: 3rem;
      z-index: 2;
      & pre {
        font-size: 100%;
      }
      & span {
        white-space: nowrap;
      }
    }
  }
}
@media screen and (max-width: 420px) {
  .home__section {
    .section__page2 {
      display: flex;
      justify-content: center;
    }
    .title {
      position: relative;
      left: 0;
      top: 0;
      font-size: 100%;
      transform: none;
      text-align: right;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      line-height: 2rem;
      z-index: 2;
      & pre {
        font-size: 100%;
      }
      & span {
        white-space: nowrap;
      }
    }
    & .disable {
      top: 60%;
    }
  }
}
