@font-face {
  font-family: "IM_Hyemin-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Regular.woff2")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "IM_Hyemin-Regular";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
body > div {
  /* the react root */
  margin: 0;
  padding: 0;
  height: 100%;
}

h2 {
  margin: 0;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}

li {
  margin: 1.5em 0;
  padding: 0;
}

b {
  /* used for event dates/times */
  margin-right: 3px;
}

.calendarmain {
  display: flex;
  min-height: 100vh;
  /* color: white; */
  font-size: 14px;
  overflow: hidden;
  // touch-action: none;
  align-items: center;
  * {
    font-family: "IM_Hyemin-Regular";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

.calendarapp {
  margin-top: 20px;
  flex-grow: 1;
  padding: 3em;
  /* background: #444; */
  color: white;
  z-index: 2;
  // touch-action: none;
  overflow: hidden;
}

.fc {
  /* the calendar root */
  max-width: 1100px;
  margin: 0 auto;
}

.fc-daygrid-day-frame:hover {
  background-color: rgb(58, 67, 67);
  opacity: 0.7;
}
/* 
.fc-view-harnes {
  width: 50vw;
  height: 100vh;
} */
.fc .fc-button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.4em 0.65em;
  font-size: 1em;
  line-height: 1.5;
  border-radius: 0.25em;
}

.fc .fc-bg-event {
  background-color: transparent;
}

// .fc-daygrid-day-events {
//   position: absolute;
//   height: 100%;
//   width: 100%;
//   left: 0%;
//   top: 0;
// }

#fc-dom-2 {
  font-size: 1em;
}
.fc-toolbar-title {
  font-size: 3vw;
}
@media screen and (max-width: 400px) {
  .fc {
    & .fc-button {
      display: inline-block;
      font-weight: 400;
      text-align: center;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      margin: 0 12px;
      background-color: transparent;
      border: 1px solid transparent;
      padding: 0;
      font-size: 1em;
      line-height: 1.5;
      border-radius: 0.25em;
      & .fc-toolbar-title {
        font-size: 1em;
      }
    }
  }
}

/* @keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}
@-webkit-keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-moz-keyframes move-background {    
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

    @-webkit-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

*/
.background-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.event-content__wrapper {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  & img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }
}

.stars {
  background: rgba(0, 0, 0, 0.7)
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: inline;
  z-index: -1;
}

.twinkling {
  width: 10000px;
  height: 100%;
  background: transparent
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png")
    repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;

  -moz-animation: move-background 70s linear infinite;
  -ms-animation: move-background 70s linear infinite;
  -o-animation: move-background 70s linear infinite;
  -webkit-animation: move-background 70s linear infinite;
  animation: move-background 70s linear infinite;
}

.fc-day-today {
  background: rgba(12, 114, 248, 0.1) !important;
}

// .fc-day-today .fc-daygrid-day-number {
//    background-color: rgb(247, 82, 82);
//    border-radius: 50%;
// }

.fc-daygrid-day-frame:hover {
  background-color: rgb(58, 67, 67);
  opacity: 0.7;
}

.fc-daygrid-day-number {
  font-size: 2vw;
  @media screen and (max-width: 800px) {
    font-size: 3vw;
  }
}

@media screen and (max-width: 800px) {
  .event-content__wrapper {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 570px) {
  .event-content__wrapper {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 400px) {
  .event-content__wrapper {
    width: 20px;
    height: 20px;
  }
}
