input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  color: black;
  margin: 0;
}
@media screen and (max-width: 570px) {
  .rdrMonth {
    width: auto;
  }
}
