@import "../../assets/styles/mixin";

.error__wrapper {
  width: 100vw;
  height: 100vh;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  & h1 {
    color: white;
    font-family: "Aero";
    font-size: 5rem;
  }
  & button {
    @include bluebtn;
    width: fit-content;
    &:hover {
      background-color: #202363;
    }
  }
}
