@import "../../../../assets/styles/mixin";
.removeUser {
  @include standardalign;

  & button {
    @include bluebtn;
  }
  .last {
    background-color: #202363;
  }
  & hr {
    width: 100%;
    margin: 10px 0;
  }
}

.exit__message {
  opacity: 0.3;
}

.exit__success__message {
  animation: fade 1s ease-in forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
