.navbar__Items {
  & * {
    font-family: "Aero";
  }
  top: 50px;
  padding: 30px 50px;
  background: #28333c;
  backdrop-filter: blur(5px);
  border: none;
  box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  border-radius: 35px;
  margin: 0 10vw;
  width: 80vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  z-index: 10000;
  position: fixed;
}
.navbar__logo {
  color: #fff;
  background: transparent;
  height: 52px;
  margin-right: 10px;
}
.navbar__menu_icon {
  display: none;
}

.navbar__menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 10px;
  text-align: center;
  width: 60vw;

  justify-content: end;
  // margin-right: 2rem;
  .navbar__links {
    color: #cdcdcd;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-out;
    white-space: nowrap;
    &:hover {
      white-space: nowrap;
      background-color: #6d76f7;
      border-radius: 10px;
      transition: all 0.2s ease-out;
      padding: 0.5rem 1.6rem;
    }
  }
}
.navbar__links-mobile {
  display: none;
}

@media screen and (max-width: 1070px) and (min-width: 960px) {
  .navbar__Items {
    .navbar__links {
      padding: 0.5rem 1px;
      transition: all 0.2s ease-out;
      &:hover {
        border-radius: 10px;
        transition: all 0.2s ease-out;
        padding: 0.5rem 10px;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .navbar__Items {
    // position: relative;
    padding: 0 5%;
    top: 0px;
    width: 100%;
    margin: 0;
    height: 80px;
    border-radius: 0;
    .navbar__menu {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 100%;
      height: calc(100vh - 80px - (100vh * 0.02));
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
      &.active {
        background-color: #20236389;
        backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
        border-radius: 18px;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
      }
    }

    .navbar__menu_icon {
      display: block;
      // position: absolute;

      // transform: translate(-100%, 80%);
      font-size: 2.2rem;

      cursor: pointer;
    }
  }
  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;

    &:hover {
      background-color: #7577fa;
      border-radius: 0;
    }
  }
  .fa__times {
    color: #fff;
    font-size: 2rem;
  }
  .navbar__links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 0 auto;
    border-radius: 10px;
    width: 80%;
    background: #5ddae9;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    opacity: 0;
    transition: all 0.5s ease;
    &:hover {
      background-color: #fff;
      color: #6568f4;
      transition: 250ms;
    }
    &.active {
      transition: all 0.5s ease;
      opacity: 1;
    }
  }
}
