@import "../../../assets/styles/mixin";

.span {
  // font-family: "Nanum";
  color: white;
  font-size: 1.2rem;
}

.survey__btn {
  @include bluebtn;
  width: fit-content;
}
.survey__textarea {
  border: 1px solid white;
  font-size: 2rem;
  resize: none;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 50px 0;
}
