.navbar__Items {
  top: 10px;
  padding: 0 30px;
  background: linear-gradient(90deg, #20236389 0%, #20236331 100%);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  width: 90vw;
  height: 80px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  z-index: 10000;
  position: fixed;
}
.navbar__logo {
  color: #fff;
  background: transparent;
  height: 40px;
}
.navbar__menu_icon {
  display: none;
}

.navbar__menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 10px;
  text-align: center;
  width: 80vw;
  justify-content: end;
  // margin-right: 2rem;
  .navbar__links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    &:hover {
      background-color: #6d76f7;
      border-radius: 4px;
      transition: all 0.2s ease-out;
    }
  }
}
.navbar__links-mobile {
  display: none;
}
@media screen and (max-width: 960px) {
  .navbar__Items {
    // position: relative;

    .navbar__menu {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 100%;
      height: calc(100vh - 80px);
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
      &.active {
        background-color: #20236389;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
        -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
        border-radius: 18px;
        -webkit-border-radius: 18px;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
      }
    }
    .navbar__logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
    .navbar__menu_icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  }
  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    &:hover {
      background-color: #7577fa;
      border-radius: 0;
    }
  }
  .fa__times {
    color: #fff;
    font-size: 2rem;
  }
  .navbar__links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #4ad9e4;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    &:hover {
      background-color: #fff;
      color: #6568f4;
      transition: 250ms;
    }
  }
}
