.profile__input {
  border: none;
  border-radius: 18px;
  padding: 0 20px;
  color: black;
  font-size: 1rem;
  margin: 10px 0;
  text-align: center;
  width: 100%;
  height: 28px;
  text-align: center;
}
.profile__input:focus {
  outline: none;
}
.profile__label {
  font-size: 1rem;
  color: white;
}
.profile__btn {
  background-color: #51aabf;
  padding: 2px 20px;
  height: 28px;
  border-radius: 18px;
  width: 100%;
  font-size: 18px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  margin: 10px 0;
  transition: all 0.3s ease-in-out;
}
.profile__settings {
  background-color: #202363;
}
.profile__exit {
  background-color: rgb(187, 34, 34);
}
.profile__hr {
  width: 100%;
  margin: 10px 0;
}
