@font-face {
  font-family: "IM_Hyemin-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Regular.woff2")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.surveySp {
  & * {
    box-sizing: border-box;
    font-family: "IM_Hyemin-Regular";
  }
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
  align-content: center;
  text-align: center;
  // width: 60vw;
  max-width: 800px;
  width: 100vw;
  height: 100vh;
  background-color: beige;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.progressBar_content {
  position: relative;
  max-width: 800px;
  height: 30vh;
}

.progressBarText {
  position: absolute;
  top: 20%;
  right: 0;
  left: 0;
}

.bar {
  position: relative;
  top: 50%;
  width: 90%;
  margin: 0 auto;
}

.barAll {
  border: 1px solid gray;
  border-radius: 1em;
  width: 90%;
  height: 20%;
  color: gray;
  margin: 0 auto;
}
