@font-face {
  font-family: "KyoboHand";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IM_Hyemin-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GowunBatang-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NanumSquare";
  src: url("./fonts/NanumSquare_acB.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Aero";
  src: url("./fonts/Aero\ Club\ Como.otf") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "NanumSquare";
  list-style: none;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#fp-nav {
  top: 0;
}
